.carousel {
  position: relative;
  margin: 0 auto; }

.product__carousel {
  max-width: 55vw;
  max-height: 1000px;
  overflow: hidden;
  display: flex; }

.product-image {
  min-width: 100%;
  z-index: -1;
  display: flex; }

.product-image img {
  width: 100%;
  object-fit: cover; }

.carousel-item.selected {
  background: white; }

.carousel-selectors {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }

.carousel-selectors div {
  height: 20px;
  width: 20px;
  margin: 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  cursor: pointer; }

.newsletter {
  background: url("./Material/optimerade/newsletter_bg.jpg");
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 4rem 7rem 2rem;
  padding: 2rem;
  overflow: hidden; }

.newsletter:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  height: 100%; }

.newsletter__text {
  z-index: 2;
  color: #ebebec;
  width: 25%;
  text-align: center;
  line-height: 2rem; }

.newsletter__text h2 {
  font-size: 2rem;
  margin: 0 0 2rem;
  text-transform: uppercase; }

.newsletter__input {
  margin: 0 1rem;
  display: flex;
  z-index: 2;
  font-size: 1.2rem;
  width: 35%;
  justify-content: center; }

.newsletter__input input {
  padding: 1rem;
  background: #ffffff;
  border: none;
  text-transform: uppercase;
  flex-grow: 1; }

.newsletter__input button {
  background: #141526;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  cursor: pointer; }

@media screen and (max-width: 800px) {
  .newsletter {
    height: auto;
    flex-direction: column;
    margin: 4rem 2rem 2rem; }
  .newsletter__text {
    width: 100%;
    margin-bottom: 1rem; }
  .newsletter__input button {
    padding: 1rem; } }

@media screen and (max-width: 500px) {
  .newsletter__input {
    text-align: center;
    flex-wrap: wrap; } }

@media screen and (max-width: 1000px) {
  .newsletter {
    margin: 4rem 2rem 2rem; } }

.btn-group {
  background: #f1f1f1;
  padding: 3rem 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.btn-group button {
  background: none;
  border: 2px solid black;
  padding: 1rem 0;
  font-size: 1.1rem;
  cursor: pointer;
  text-transform: uppercase;
  flex-grow: 1;
  margin-bottom: 0.25rem; }

.btn-group button:not(:last-child) {
  margin-right: 2rem; }

@media screen and (max-width: 1000px) {
  .btn-group {
    padding: 3rem 2rem; } }

.accordion {
  border-bottom: 1px solid #ccc;
  margin: 1rem 2rem; }

.accordion__item {
  border: none;
  background: none;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
  text-transform: uppercase;
  display: block;
  width: 100%;
  color: #ccc; }

.accordion__item.show {
  color: #1d1d1b; }

.accordion__item.show + .accordion__item-content {
  display: inherit; }

.accordion__item h3 {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.accordion__item-content {
  display: none;
  padding: 1rem 0 4rem;
  text-align: left;
  font-weight: 700;
  text-transform: none; }

.fa-angle-down {
  font-size: 1.5rem; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.mobile-items {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; }

.mobile-items > * {
  flex-basis: 0; }

.hamburger {
  border: none;
  padding: 0.5rem;
  background: none; }

.hamburger__links {
  display: none;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  border-top: 1px solid #ccc; }

.mobile-search {
  padding: 1rem; }

.mobile-search input {
  padding: 0.5rem;
  text-align: center;
  border: none;
  font-size: 1rem;
  border-bottom: 2px solid #ccc; }

.hamburger__links input {
  font-size: 1.2rem; }

.mobile-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.mobile-links li {
  width: 33%;
  box-sizing: border-box;
  padding: 1.5rem;
  background: #f1f1f1;
  margin: 0.5rem; }

nav a {
  text-decoration: none;
  color: black; }

.hamburger__links.open {
  display: inherit; }

.hamburger__links a {
  color: #333; }

.mobile-account-links {
  margin-top: 1rem;
  display: flex;
  background: #f1f1f1;
  font-size: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.mobile-account-links a {
  padding: 1rem;
  flex-basis: 0;
  flex-grow: 1; }

.hamburger,
.cart {
  font-size: 2rem; }

.cart {
  color: #333; }

.navigation {
  display: none; }

.header {
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3); }

.top-links {
  display: none; }

.logo-item {
  text-align: center; }

.logo {
  background: #d8d8d8;
  padding: 2rem 6rem;
  color: #858383; }

@media screen and (min-width: 1100px) {
  .logo {
    margin: 0 6rem; } }

@media screen and (max-width: 400px) {
  .mobile-links li {
    width: 80%; } }

@media screen and (min-width: 900px) {
  .mobile-items {
    display: none; }
  .navigation {
    display: initial; }
  .navigation__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 10vh;
    font-weight: 600; }
  .navigation__links li {
    margin: 0 1rem;
    text-transform: uppercase; }
  .navigation li {
    color: black; }
  .top-links {
    display: flex;
    justify-content: space-between;
    background: #1d1d1b;
    color: #bbbbbb;
    padding: 0.8rem 12rem 0.8rem 7rem;
    text-transform: uppercase;
    font-size: 0.75rem; }
  .top-links a {
    color: #bbbbbb;
    text-decoration: none; }
  .top-links h2,
  .top-links a {
    margin: 0 0.2rem; }
  .information h2 {
    display: inline-block; } }

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }

.product__sales-info {
  flex-grow: 1; }

.product__availabilty {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.new {
  background: #000;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  text-transform: uppercase; }

.available {
  text-transform: uppercase;
  margin: 1.2rem;
  font-size: 0.9rem; }

.fa-check {
  color: lightgreen; }

.product__info {
  text-align: center; }

.product__sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 1rem 0; }

.product__name {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 1rem 0;
  max-width: 350px;
  word-wrap: break-word; }

.product__price {
  font-weight: 700;
  font-size: 1.2rem; }

.product__sizes {
  font-size: 0.8rem;
  margin: 2rem 0 1rem;
  text-transform: uppercase; }

.product__size {
  background: #fff;
  border: 1px solid #1d1d1b;
  width: 35px;
  height: 35px; }

.product__size.selected {
  background: #1d1d1b;
  color: #fff; }

.form-button {
  display: block;
  background: #141526;
  color: #ebebec;
  text-transform: uppercase;
  padding: 0.75rem 2.2rem;
  border: none;
  margin: 2rem 0; }

.product__article-number {
  text-transform: uppercase;
  color: #777;
  font-weight: 500;
  font-size: 0.9rem; }

.product__article-number span {
  color: #202020; }

.container {
  padding: 7rem 7rem 0; }

.more-products-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1d1d1b;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 1px; }

.more-products__see-all {
  text-decoration: none;
  color: #1d1d1b;
  text-align: right; }

.fa-chevron-right {
  margin-left: 1rem; }

.more-products-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.more-products-item {
  text-align: center;
  font-size: 0.9rem;
  max-width: 300px;
  flex-grow: 1; }

.more-products-item__make {
  text-transform: uppercase;
  font-weight: 700;
  margin: 1rem 0; }

.more-products-item__name {
  color: #666;
  width: 200px;
  margin: 0 auto;
  line-height: 1.25rem; }

.more-products-item__price {
  font-weight: 700;
  margin: 1rem 0; }

.old-prize {
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 5px; }

.discounted-prize {
  color: crimson; }

.image-container {
  width: 100%;
  position: relative; }

.image-container img {
  width: 100%; }

.special {
  position: absolute;
  top: 0;
  left: 0;
  color: #ebebec;
  text-transform: uppercase;
  padding: 0.25rem 0;
  letter-spacing: 1px;
  width: 6rem; }

.new {
  background: #1d1d1b; }

.campaign {
  background: #3b4053; }

.more-products-item:not(:last-child) {
  margin-right: 2rem; }

@media screen and (max-width: 1000px) {
  .container {
    padding: 2rem 2rem 0; } }

@media screen and (max-width: 1365px) {
  .more-products-item:not(:last-child) {
    margin-right: 0; } }

.footer {
  background: #000;
  padding: 7rem 7rem 0; }

.footer a,
.footer {
  text-decoration: none;
  color: #ccc; }

.footer-links {
  display: flex;
  justify-content: space-between; }

.footer-links h2 {
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase; }

.footer-links h3 {
  font-weight: 700; }

.footer-links ul {
  margin: 2rem 2rem 0 0; }

.link-group {
  margin: 0 0 2rem 0;
  min-width: 150px; }

.footer-links li {
  margin: 1rem 0; }

.footer-links--left {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-right: 20%; }

.footer-links--right {
  width: 50%; }

.contact {
  display: flex;
  flex-wrap: wrap; }

.contact ul:first-child {
  margin-right: 15%; }

.footer-text {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: rgba(255, 255, 255, 0.75);
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 4rem; }

.footer-text--description {
  padding: 3rem;
  width: 80%;
  margin: 0 auto; }

.footer-text--description b {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8); }

.footer-text--copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 2rem 0;
  color: rgba(255, 255, 255, 0.6); }

@media screen and (max-width: 800px) {
  .footer-links--left {
    flex-direction: column; } }

@media screen and (max-width: 1000px) {
  .footer {
    padding: 4rem 2rem 0; } }

body {
  font-family: sans-serif; }
