.product {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.product__sales-info {
	flex-grow: 1;
}

.product__availabilty {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.new {
	background: #000;
	color: rgba(255, 255, 255, 0.9);
	padding: 0.5rem 1rem;
	text-transform: uppercase;
}

.available {
	text-transform: uppercase;
	margin: 1.2rem;
	font-size: 0.9rem;
}

.fa-check {
	color: lightgreen;
}

.product__info {
	text-align: center;
}

.product__sale {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 1rem 1rem 0;
}

.product__name {
	font-size: 1.2rem;
	line-height: 2rem;
	margin: 1rem 0;
	max-width: 350px;
	word-wrap: break-word;
}

.product__price {
	font-weight: 700;
	font-size: 1.2rem;
}

.product__sizes {
	font-size: 0.8rem;
	margin: 2rem 0 1rem;
	text-transform: uppercase;
}

.product__size {
	background: #fff;
	border: 1px solid #1d1d1b;
	width: 35px;
	height: 35px;
}

.product__size.selected {
	background: #1d1d1b;
	color: #fff;
}

.form-button {
	display: block;
	background: #141526;
	color: #ebebec;
	text-transform: uppercase;
	padding: 0.75rem 2.2rem;
	border: none;
	margin: 2rem 0;
}

.product__article-number {
	text-transform: uppercase;
	color: #777;
	font-weight: 500;
	font-size: 0.9rem;
}

.product__article-number span {
	color: #202020;
}
