.footer {
	background: #000;
	padding: 7rem 7rem 0;
}

.footer a,
.footer {
	text-decoration: none;
	color: #ccc;
}
.footer-links {
	display: flex;
	justify-content: space-between;
}

.footer-links h2 {
	font-size: 1.25rem;
	color: #fff;
	text-transform: uppercase;
}

.footer-links h3 {
	font-weight: 700;
}

.footer-links ul {
	margin: 2rem 2rem 0 0;
}

.link-group {
	margin: 0 0 2rem 0;
	min-width: 150px;
}

.footer-links li {
	margin: 1rem 0;
}

.footer-links--left {
	display: flex;
	justify-content: space-between;
	width: 30%;
	margin-right: 20%;
}
.footer-links--right {
	width: 50%;
}

.contact {
	display: flex;
	flex-wrap: wrap;
}

.contact ul:first-child {
	margin-right: 15%;
}

.footer-text {
	text-align: center;
	font-size: 0.8rem;
	line-height: 1.2rem;
	color: rgba(255, 255, 255, 0.75);
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	margin-top: 4rem;
}

.footer-text--description {
	padding: 3rem;
	width: 80%;
	margin: 0 auto;
}

.footer-text--description b {
	font-weight: 700;
	color: rgba(255, 255, 255, 0.8);
}
.footer-text--copyright {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	text-align: center;
	padding: 2rem 0;
	color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 800px) {
	.footer-links--left {
		flex-direction: column;
	}
}
@media screen and (max-width: 1000px) {
	.footer {
		padding: 4rem 2rem 0;
	}
}
