footer {
	background: #000;
	padding: 7vw 7vw 0;
}

footer a,
footer {
	text-decoration: none;
	color: #ccc;
}
.footer-links {
	display: flex;
	justify-content: space-between;
}

.footer-links h2 {
	font-size: 1.25rem;
	color: #fff;
	text-transform: uppercase;
}

.footer-links h3 {
	font-weight: 700;
}

.footer-links ul {
	margin: 2vw 2vw 0 0;
}

.footer-links li {
	margin: 1rem 0;
}

.footer--left {
	display: flex;
	justify-content: space-between;
}
.footer--right {
	width: 50%;
}

.contact {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-text {
	text-align: center;
	padding: 2rem 2rem 0;
	font-size: 0.8rem;
}

.footer-text p:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding: 2rem;
}

.footer-text b {
	font-weight: 700;
}
.copyright {
	text-align: center;
	padding: 2rem 0;
}

@media screen and (max-width: 800px) {
	.footer--left {
		flex-direction: column;
	}
}
