.mobile-items {
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}

.mobile-items > * {
	flex-basis: 0;
}

.hamburger {
	border: none;
	padding: 0.5rem;
	background: none;
}

.hamburger__links {
	display: none;
	width: 100%;
	font-size: 1.25rem;
	text-align: center;
	border-top: 1px solid #ccc;
}
.mobile-search {
	padding: 1rem;
}

.mobile-search input {
	padding: 0.5rem;
	text-align: center;
	border: none;
	font-size: 1rem;
	border-bottom: 2px solid #ccc;
}

.hamburger__links input {
	font-size: 1.2rem;
}

.mobile-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.mobile-links li {
	width: 33%;
	box-sizing: border-box;
	padding: 1.5rem;
}

nav a {
	text-decoration: none;
	color: black;
}

.hamburger__links.open {
	display: inherit;
}

.hamburger__links a {
	color: #333;
}

.mobile-account-links {
	margin-top: 1rem;
	display: flex;
	background: #f1f1f1;
	font-size: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-account-links a {
	padding: 1rem;
	flex-basis: 0;
	flex-grow: 1;
}

.hamburger,
.cart {
	font-size: 2rem;
}

.cart {
	color: #333;
}

.navigation {
	display: none;
}

.header {
	box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
}

.top-links {
	display: none;
}

.logo-item {
	text-align: center;
}

.logo {
	background: #d8d8d8;
	padding: 2rem 6rem;
	color: rgb(133, 131, 131);
}

@media screen and (min-width: 1100px) {
	.logo {
		margin: 0 6rem;
	}
}

@media screen and (max-width: 400px) {
	.mobile-links li {
		width: 50%;
	}
}

@media screen and (min-width: 900px) {
	.mobile-items {
		display: none;
	}
	.navigation {
		display: initial;
	}
	.navigation__links {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		height: 10vh;
		font-weight: 600;
	}

	.navigation__links li {
		margin: 0 1rem;
		text-transform: uppercase;
	}

	.navigation li {
		color: black;
	}
	.top-links {
		display: flex;
		justify-content: space-between;
		background: #1d1d1b;
		color: #bbbbbb;
		padding: 0.8rem 12rem 0.8rem 7rem;
		text-transform: uppercase;
		font-size: 0.75rem;
	}

	.top-links a {
		color: #bbbbbb;
		text-decoration: none;
	}
	.top-links h2,
	.top-links a {
		margin: 0 0.2rem;
	}
	.information h2 {
		display: inline-block;
	}
}
