.container {
	padding: 7rem 7rem 0;
}

.more-products-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #1d1d1b;
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
	letter-spacing: 1px;
}

.more-products__see-all {
	text-decoration: none;
	color: #1d1d1b;
	text-align: right;
}

.fa-chevron-right {
	margin-left: 1rem;
}

.more-products-items {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.more-products-item {
	text-align: center;
	font-size: 0.9rem;
	flex-grow: 1;
	min-width: 300px;
}

.more-products-item__make {
	text-transform: uppercase;
	font-weight: 700;
	margin: 1rem 0;
}

.more-products-item__name {
	color: #666;
	width: 200px;
	margin: 0 auto;
	line-height: 1.25rem;
}

.more-products-item__price {
	font-weight: 700;
	margin: 1rem 0;
}

.old-prize {
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
}

.discounted-prize {
	color: crimson;
}

.image-container {
	width: 100%;
	position: relative;
}

.image-container img {
	width: 100%;
}

.special {
	position: absolute;
	top: 0;
	left: 0;
	color: #ebebec;
	text-transform: uppercase;
	padding: 0.25rem 0;
	letter-spacing: 1px;
	width: 6rem;
}

.new {
	background: #1d1d1b;
}

.campaign {
	background: #3b4053;
}

.more-products-item:not(:last-child) {
	margin-right: 2rem;
}

@media screen and (max-width: 1000px) {
	.container {
		padding: 2rem 2rem 0;
	}
}

@media screen and (max-width: 1811px) {
	.more-products-item {
		flex-grow: 0;
	}
}

@media screen and (max-width: 1365px) {
	.more-products-item:not(:last-child) {
		margin-right: 0;
	}
}
