.carousel {
	position: relative;
	margin: 0 auto;
}
.product__carousel {
	max-width: 55vw;
	max-height: 1000px;
	overflow: hidden;
	display: flex;
}

.product-image {
	min-width: 100%;
	z-index: -1;
	display: flex;
}

.product-image img {
	width: 100%;
	object-fit: cover;
}

.carousel-item.selected {
	background: rgba(255, 255, 255, 1);
}

.carousel-selectors {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.carousel-selectors div {
	height: 20px;
	width: 20px;
	margin: 0.5rem;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 100%;
	cursor: pointer;
}
