.newsletter {
	background: url("./Material/optimerade/newsletter_bg.jpg");
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 4rem 7rem 2rem;
	padding: 2rem;
	overflow: hidden;
}

.newsletter:before {
	content: "";
	position: absolute;
	background: rgba(0, 0, 0, 0.2);
	z-index: 1;
	width: 100%;
	height: 100%;
}

.newsletter__text {
	z-index: 2;
	color: #ebebec;
	width: 25%;
	text-align: center;
	line-height: 2rem;
}

.newsletter__text h2 {
	font-size: 2rem;
	margin: 0 0 2rem;
	text-transform: uppercase;
}

.newsletter__input {
	margin: 0 1rem;
	display: flex;
	z-index: 2;
	font-size: 1.2rem;
	width: 35%;
	justify-content: center;
}

.newsletter__input input {
	padding: 1rem;
	background: #ffffff;
	border: none;
	text-transform: uppercase;
	flex-grow: 1;
}

.newsletter__input button {
	background: #141526;
	padding: 1rem 2rem;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	.newsletter {
		height: auto;
		flex-direction: column;
		margin: 4rem 2rem 2rem;
	}
	.newsletter__text {
		width: 100%;
		margin-bottom: 1rem;
	}
	.newsletter__input button {
		padding: 1rem;
	}
}

@media screen and (max-width: 500px) {
	.newsletter__input {
		text-align: center;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 1000px) {
	.newsletter {
		margin: 4rem 2rem 2rem;
	}
}
